.container {
  display: grid;
  grid-template-columns: minmax(22px, 1fr) minmax(348px, 1718px) minmax(
      22px,
      1fr
    );
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
    "header header header"
    ". main ."
    "footer footer footer";
  justify-content: center;
  min-height: 100vh;
}

.main {
  grid-area: main;
  background-color: var(--main-background-color);
}
