.footer {
  grid-area: footer;
  display: grid;
  grid-template-columns: minmax(auto, 1718px);
  justify-content: center;
  align-items: center;
  color: var(--main-background-color);
  background-color: var(--accent-color);
  padding-left: 22px;
  padding-right: 22px;
}

.footer-inner {
  display: grid;
  grid-template-columns: max-content max-content;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
  padding: 31px 0 48px;
}

@media (max-width: 899px) {
  .footer-inner {
    padding-top: 5px;
    padding-bottom: 26px;
  }
}
