.back {
  margin: auto;
}

.back-link {
  font-size: 0.875rem;
  font-weight: var(--font-medium);
}

.back-arrow {
  position: relative;
  top: 1px;
  display: inline-block;
  width: 11px;
  height: 12px;
  margin-right: 16px;
}
